<table>
<tbody>
<tr class="odd">
<td align="left">layout: page</td>
</tr>
<tr class="even">
<td align="left">title: Hello World!</td>
</tr>
<tr class="odd">
<td align="left">tagline: Supporting tagline</td>
</tr>
</tbody>
</table>
<p>{% include JB/setup %}</p>
<p>回忆昨日的忧愁.</p>
<p>最近的schedule:</p>
<ol style="list-style-type: decimal">
<li>把翻译课的翻译句子都背出来</li>
<li>高德的翻译和词形转换都搞清楚</li>
<li>记得在博客上码点文字上去</li>
<li>记得把CNAME加好</li>
<li>记得付款</li>
</ol>
<p>感觉差不多也就这些了,看起来很少,但是做起来也不少了,恩.</p>
<ul class="posts">
  
{% for post in site.posts %}
<li>
<span>{{ post.date | date_to_string }}</span> » <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
</li>
  
{% endfor %}
</ul>
